<section class="hero">
  <div class="hero-content">
    <!-- Profile Picture -->
    <img src="my-images/brightpic.jpg" alt="Uzodinma Bright" class="profile-pic">
    
    <h1 class="hero-title">
      Hi, I'm <span class="highlight">Uzodinma Bright</span>
    </h1>
    
    <h2 class="hero-subtitle">
      I'm a <span id="typed-element"></span>
    </h2>
    
    <p class="hero-description">
      I specialize in machine learning, statistical modeling, data analytics, and OSINT fact-checking.
    </p>
    
    <div class="hero-buttons">
      <button class="btn btn-primary" routerLink="/home">Home</button>
      <button class="btn btn-secondary" routerLink="/about">About</button>
      <button class="btn btn-tertiary" routerLink="/projects">Projects</button>
      <button class="btn btn-tertiary" routerLink="/contact">Contact</button>
      <button class="btn btn-quaternary" routerLink="/services">Services</button>
    </div>
  </div>
</section>